.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    width: 100%;
}

.form-control input, textarea {
    margin: 0;
    outline: none;
    border: 2px solid #ccc;
    display: flex;
    color: #2c3e50;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-size: 1rem;
}

.form-control select {
    margin: 0;
    outline: none;
    border: 2px solid #ccc;
    display: flex;
    color: #2c3e50;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    font-size: 1rem;
    width: max-content;
}

textarea {
    resize: none;
    max-width: 80%;
}



.form-control input:active,
.form-control input:focus
.form-control textarea:active,
.form-control textarea:focus {
    transition: border 0.22s;
    border: 2px solid #42b983;
}

.form-control input .invalid {
    border: 2px solid #e53935;
}

.indexing {
    display: flex;
    align-items: center; 
    justify-content: center; 
    border: 2px solid #ccc;
    border-radius: 3px;
    width: 33.6px;
    height: 33.6px;
}

.input-head-section  {
    width: 170px;
    margin-right: 3px;
    margin-bottom: 3px
}


.input-field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    /* border-radius: 10px; */
    /* box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2); */
    margin-bottom: 1rem;
}

.input-left {
    display: flex;
    width: 30%;
    flex-direction: column;
}

.input-right {
    display: flex;
    width: 67%;
    flex-direction: column;
    
    overflow-y: visible;
    scrollbar-width: thin;
}

.full_width {
    display: flex;
    width: 100%
}

.final-buttons-field {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.mr-1 {
    margin-right: 1rem;
}


