
.plain {
    color: #8c8989;
    font-size: 13px;
}

.form-control {
    position: relative;
    padding: 3rem;
    margin-bottom: 0.5rem;
}
.fixedheight {
    table-layout: fixed;
    border-collapse: separate;
}

.cell {
    padding-top: 1rem;
    vertical-align: top;
    width: 100%;
    padding-bottom: 1rem;
}

/* .fixedheight table {
    display: block; 
    max-height: 300px; 
    overflow-x: scroll
} */

.fixedheight th {
    width: auto;
}

.fixedheight table {
    display: block; 
    max-height: 300px; 
    overflow-x: scroll
}

.inner-table {
    table-layout: fixed;
    border-collapse: separate;
}

.inner-table td {
    vertical-align: top;
    width: 100%;
}


.form-control input,
.form-control select {
    margin: 0;
    outline: none;
    border: 2px solid #ccc;
    display: flex;
    /* width: 100%; */
    /* min-width: min-content; */
    color: #2c3e50;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    font-size: 1rem;
}

.form-control small {
    color: #e53935;
}

.form-control.invalid input {
    border-color: #e53935;
}


.form-control label {
    display: block;
    margin: 0 0 0.3rem 0.3rem;
    font-weight: 500;
}

.form-control input:active,
.form-control input:focus {
    transition: border 0.22s;
    border: 2px solid #42b983;
}

.upload {
    display: none;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
    transition: .22s all;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 1rem;
    padding-right: 0.3rem;
}


.title {
    align-items: center;
    justify-content: flex-start;
}