
.plain {
    color: #8c8989;
    font-size: 13px;
}

.form-control {
    position: relative;
    padding: 3rem;
    margin-bottom: 0.5rem;
}
.fixedheight {
    table-layout: fixed;
    border-collapse: separate;
}

.cell {
    padding-top: 1rem;
    vertical-align: top;
    width: 100%;
    padding-bottom: 1rem;
}

/* .fixedheight table {
    display: block; 
    max-height: 300px; 
    overflow-x: scroll
} */

.fixedheight th {
    width: auto;
}

.fixedheight table {
    display: block; 
    max-height: 300px; 
    overflow-x: scroll
}

.fixedheight ul {
    display: block; 
    max-height: 300px; 
    overflow-x: scroll;
    overflow-y: scroll;

}

.fixedheight li {
    margin-bottom: 1rem;

}

.inner-table {
    table-layout: fixed;
    border-collapse: separate;
}

.inner-table td {
    vertical-align: top;
    width: 100%;
}


.form-control input,
.form-control select {
    margin: 0;
    outline: none;
    border: 2px solid #ccc;
    display: flex;
    /* width: 100%; */
    /* min-width: min-content; */
    color: #2c3e50;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    font-size: 1rem;
}

.form-control small {
    color: #e53935;
}

.form-control.invalid input {
    border-color: #e53935;
}


.form-control label {
    display: block;
    margin: 0 0 0.3rem 0.3rem;
    font-weight: 500;
}

.form-control input:active,
.form-control input:focus {
    transition: border 0.22s;
    border: 2px solid #42b983;
}

.upload {
    display: none;
}


.file-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
    transition: .22s all;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
    border-radius: 10px;
    border: #42b983 2px solid;
    background: #42b983;
    color: #fff;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
    margin-right: 1rem;
}

.final-buttons-field {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.title {
    align-items: center;
    justify-content: flex-start;
}

.indexing {
    display: flex;
    align-items: center; 
    justify-content: center; 
    border: 2px solid #ccc;
    border-radius: 3px;
}

.dp-input {
    display: flex; 
    width: 279px; 
    height: 100%; 
    margin: none;
}