@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
}

[v-cloak] {
    display: none;
}

body {
    font-family: Inter, Roboto, Oxygen, Fira Sans, Helvetica Neue, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    color: #2c3e50;
    /* background: #2c3e50; */
    background: hsla(153, 48%, 46%, 1);

    background: radial-gradient(circle, hsla(153, 48%, 46%, 1) 0%, hsla(210, 29%, 24%, 1) 80%);

    background: -moz-radial-gradient(circle, hsla(153, 48%, 46%, 1) 0%, hsla(210, 29%, 24%, 1) 80%);

    background: -webkit-radial-gradient(circle, hsla(153, 48%, 46%, 1) 0%, hsla(210, 29%, 24%, 1) 80%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#3EAF7C", endColorstr="#2C3E50", GradientType=1 );
}


hr {
    border: none;
    background-color: #8c8989;
    color: #8c8989;
    height: 1px;
    width: 100%;
}

thead {
    height: 3rem;
}


strong,
.bold {
    font-weight: 500;
}

ol,
p,
ul {
    line-height: 1.7;
}
input {
    height: 41px;
    width: 170px;
}

a {
    color: #3eaf7c;
    font-weight: 500;
    text-decoration: none;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    line-height: 1.45;
}

h1 {
    font-size: 2.2rem;
    font-weight: 600;
}

h2 {
    font-size: 1.65rem;
    padding-bottom: 0.3rem;

}

h3 {
    font-size: 1.35rem;
}

.primary {
   color: #42b983;
}

.default {
    color: #2c3e50;
 }

.danger {
    color: #e53935;
}

.plain {
    color: #8c8989;
    font-size: 13px;
}

.btn {
    color: #42b983;
    position: relative;
    place-content: center;
    place-items: center;
    width: fit-content;
    border-radius: 99px;
    letter-spacing: 0.05em;
    border: 1px solid #42b983;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 10px;
    padding: 0.5rem 1.5rem;
    white-space: nowrap;
    font-weight: 700;
    outline: none;
    background: #fff;
    transition: all 0.22s;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.btn:disabled {
    cursor: not-allowed;
    opacity: 1!important;
    background: #eee!important;
    border-color: #ddd!important;
    color: #999!important;
}

.btn:active {
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.btn.primary {
    background: #42b983;
    color: #fff;
}

.btn.danger {
    background: #e53935;
    color: #fff;
    border-color: #e53935;
}


.btn.default {
    background: #2c3e50;
    color: #fff;
    border-color: #2c3e50;
}

.btn.warning {
    background: #c25205;
    color: #fff;
    border-color: #c25205;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    min-width: 500;
    margin-top: 5rem;
    margin-bottom: 5rem;
}


.pt-2 {
    padding-top: 2rem;
}

.pt-1 {
    padding-top: 1rem;
}

.pt-5 {
    padding-top: 5rem;
}

.ml-2 {
    margin-left: 2rem;
}

.mt-1 {
    margin-top: 1rem
}

.mt-2 {
    margin-top: 2rem
}

.mt-3 {
    margin-top: 3rem
}

.mt-4 {
    margin-top: 4rem
}

.mt-5 {
    margin-top: 5rem
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.card {
    overflow: hidden;
    /* padding: 1rem; */
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
    background: #fff;
}

.card.marked {
    border: 4px solid #42b983;
}

.card.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}



.list-item:hover {
    background: #eee;
}

.alert {
    padding: 1rem 1.5rem;
    border-left-width: .5rem;
    border-left-style: solid;
    margin: 1rem 0;
    position: relative;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}

.alert.primary {
    border-color: #42b983;
    background-color: #f8f8f8;
}

.alert.danger {
    border-color: #e53935;
    background-color: #f8f8f8;
}

.alert.warning {
    border-color: #c25205;
    background-color: #f8f8f8;
}

.alert.plain {
    background-color: #f8f8f8;
    border-color: #8c8989;
    color: #8c8989;
    font-size: 13px;
}

.alert p {
    color: #222;
    line-height: 1.7;
}


.modal {
    position: fixed;
    top: 60px;
    width: 600px;
    padding: 2rem;
    background: #f8f8f8;
    z-index: 1000;
    left: 50%;
    border-radius: 10px;
    transform: translateX(-50%);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
}


.underline {
    text-decoration: underline;
}
.underline:hover {
    cursor: pointer
}

.slide-fade-enter-active {
    transition: all .8s ease;
}

.slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-leave-to {
    transform: translateX(10px);
    opacity: 0;
}

.slide-fade-enter {
    transform: translateX(0px);
    opacity: 1;
}


.radio-input-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
}
    

.radio-input-field input {
    width: 20px;
    height: 20px;
}

.checkbox-input input {
    width: 20px;
    height: 20px;
}

