.animation-field {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 3rem;
    border-top: 2px #8c8989 solid;
    border-bottom: 2px #8c8989 solid;
    padding: 3rem;
}

.animation {
    height: 300px;
    width: 100%;
    align-items: center;
    justify-content: center;
}