.dp-input {
    display: flex; 
    width: 170px; 
    height: 100%; 
    margin: none;
}


.dp-error-input input {
    display: flex; 
    width: 170px; 
    height: 100%; 
    margin: none;
    border: #e53935 2px solid;
}

.dp-error-input input:active,
.dp-error-input input:focus {
    transition: border 0.22s;
    border: #e53935 2px solid;
}


.dp-menu {
    color: #3eaf7c;
    box-shadow: 0 0 6px #3eaf7c;
    padding-bottom: 1rem;
}

.dp-menu button {
    color: #3eaf7c;
    border: #3eaf7c 2px solid;
}
