.iconed-button {
    display: flex;
    flex-direction: row;
    width: max-content;
    height: max-content;
    max-width: 300px;
    /* overflow:-moz-hidden-unscrollable; */
    align-items: center;
    justify-content: flex-start;
    border-radius: 1rem;
    letter-spacing: 0.05em;
    text-decoration: none;
    text-transform: uppercase;
    text-overflow:ellipsis;
    padding: 0.5rem 1rem;
    white-space: normal;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    font-size: 13px;
}

.iconed-button span {
    display: flex;
    width: max-content;
    
}

.iconed-button:hover {
    opacity: 0.7;
    
}


