.mr {
    margin-right: 3px
}

.icon {
    display: flex;
    height: 33.6px;
    width: 33.6px;
    align-items: center;
    justify-content: center;
    
}

.payment-color {
    background-color: rgba(0, 255, 50, 0.1);
}

.icon:hover {
    opacity: 0.5;
}
